# Node.js dependencies
/backend/node_modules/
/frontend/node_modules/

# Build files
/backend/build/
/frontend/build/
/frontend/dist/

/backend/downloads/

# Environment variables
/backend/.env

# Docker files
/backend/Dockerfile
/frontend/Dockerfile

# macOS system files
.DS_Store

# Editor files
.vscode/
*.sublime-workspace
